// .my-app-sidebar {
// }

.my-app-sidebar-section {
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.my-app-sidebar-section h2 {
  color: #333333;
  font-size: 18px;
  margin-bottom: 10px;
}

.my-app-sidebar-section ul {
  padding-left: 20px;
}

.my-app-sidebar-section ul li {
  margin-bottom: 5px;
  color: #666666;
}

.switch-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.switch-container span {
  color: #333333;
}

.task-item{
  b {
    margin-right: 5px;
  }
}
