<div class="form-container">
  <ng-container *ngIf="form">
    <nz-form nzLayout="vertical" [formGroup]="form">
      <nz-form-item>
        <nz-form-label nzRequired>Title</nz-form-label>
        <nz-form-control>
          <input nz-input formControlName="title" />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label nzRequired>Description</nz-form-label>
        <nz-form-control>
          <textarea nz-input formControlName="description"></textarea>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label nzRequired>Employee</nz-form-label>
        <nz-form-control>
          <nz-select formControlName="employeId">
            <nz-option *ngFor="let employee of (employees$ | async)" [nzValue]="employee.id" [nzLabel]="employee.name"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item class="row-view">
        <nz-form-label nzRequired>Color</nz-form-label>
        <nz-form-control>
          <input type="color" formControlName="color">
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label nzRequired>Timeline</nz-form-label>
        <nz-range-picker
          [nzShowTime]="true"
          [nzAllowClear]="false"
          formControlName="startEndDate"
        ></nz-range-picker>
      </nz-form-item>
      <div class="form-btn">
        <button nz-button nzType="default" (click)="triggerClose()">Cancel</button>
        <button nz-button nzType="primary" [disabled]="!form.valid" (click)="submitForm()">Submit</button>
      </div>
    </nz-form>
  </ng-container>
</div>
