<div class='main-container'>
  <div class="top-container">
    <button
      nz-button
      nzType="primary"
      (click)="openDrawer()"
      class="btn-trigger"
    >Open Settings</button>
    <button
      nz-button
      nzType="primary"
      (click)="saveChanges()"
      class="btn-trigger"
    >Sauvegarder les changements</button>
  </div>

  <nz-drawer
    [nzClosable]="true"
    [(nzVisible)]="isCollapsed"
    [nzPlacement]="'left'"
    nzTitle="Calendar settings"
    (nzOnClose)="closeDrawer()"
  >
    <ng-container *nzDrawerContent>
      <app-calendar-info-setting
        [calendarOptions]="calendarOptions"
        [currentTasks]="currentTasks"
        (toggleWeekends)="handleWeekendsToggle()"
      ></app-calendar-info-setting>
    </ng-container>
  </nz-drawer>

  <div class='calendar-container'>
      <full-calendar
      class="my-calendar"
      [options]='calendarOptions'
      [events]="events$ | async"
      >
        <ng-template #eventContent let-arg>
          <span
            nz-tooltip
            [nzTooltipTitle]="descriptionTemplate"
            [nzTooltipTitleContext]="{ $implicit: arg.event.extendedProps }"
          >
            <img class="event-img" [src]="arg.event.extendedProps['employee']?.img" alt="pic">
            <i class="custom-event-title">
              {{ arg.event.extendedProps['employee']?.name }}: {{ arg.event.title }}
            </i>
          </span>
          <ng-template #descriptionTemplate let-thing>
            <div class="custom-tooltip-content">
              <img class="event-img-tooltip" [src]="thing['employee']?.img" alt="pic">
              <span>{{ thing['description'] }}</span>
            </div>
          </ng-template>
        </ng-template>
      </full-calendar>
  </div>
</div>

<nz-modal
  [(nzVisible)]="isModalVisible"
  nzTitle="Create/Edit Task"
  (nzOnCancel)="closeTaskCreate()"
  [nzFooter]="null"
>
  <ng-container *nzModalContent>
    <app-create-task
      [selectInfo]="lastSelectInfo"
      [task]="selectedTask"
      (close)="closeTaskCreate()"
    ></app-create-task>
  </ng-container>
</nz-modal>
