<div class='main-container'>
  <button
    nz-button
    nzType="primary"
    (click)="openDrawer()"
    class="btn-trigger"
  >Open Settings</button>

  <nz-drawer
    [nzClosable]="true"
    [(nzVisible)]="isCollapsed"
    [nzPlacement]="'left'"
    nzTitle="Calendar settings"
    (nzOnClose)="closeDrawer()"
  >
    <ng-container *nzDrawerContent>
      <app-calendar-info-setting
        [calendarOptions]="calendarOptions"
        [currentTasks]="currentTasks"
        (toggleWeekends)="handleWeekendsToggle()"
      ></app-calendar-info-setting>
    </ng-container>
  </nz-drawer>

  <div class='calendar-container'>
      <full-calendar
      [options]='calendarOptions'
      [events]="events | async"
      >
        <ng-template #eventContent let-arg>
            <i>{{ arg.event.title }}</i>

          <!-- <a
            nz-tooltip
            [nzTooltipTitle]="arg.event.extendedProps['description']"
          >
            <img [src]="arg.event.extendedProps['employee']?.img" alt="pic">
            <i>{{ arg.event.title }}</i>
          </a> -->
        </ng-template>
      </full-calendar>
  </div>
</div>

<nz-modal
  [(nzVisible)]="isAddTaskVisible"
  nzTitle="The first Modal"
  (nzOnCancel)="closeTaskCreate()"
  [nzFooter]="null"
>
  <ng-container *nzModalContent>
    <app-create-task
      [selectInfo]="lastSelectInfo"
      (close)="closeTaskCreate()"
    ></app-create-task>
  </ng-container>
</nz-modal>
